
c {
  font-size: 50px;
}

.content {
  flex:1;
  position:relative;
  z-index:10;
  top: 15vh;
  height: 80vh;
}

.textContainer {
  animation: 1s ease-out 0s 1 Appear;
  display:flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.textBox {
  animation: 1s ease-out 0s 1 scaleUp;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 40px;
  border: 1px solid rgba(0,0,0,0);
}

ul {
  list-style: none;
  margin:0;
  padding:0;
  text-align: center;
}

.nav li {
  display: inline;
  margin: 0 5px 0 0;
}

.nav a {
  display: inline-block;
}
