@font-face { font-family: Drugs src: "website/resources/fonts/Drugs.otf"; }


html,body {
  background: black;
    margin:0;
    padding:0;
    width:100%;
    min-width: 100%;
    font-family: Drugs, sans-serif;
}

@media (min-aspect-ratio: 16/9) {
    #background {
      position: fixed;
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background {
      position: fixed;
        width:auto;
        height: 100%;
    }
}

a,a:hover,a:visited,a:link,a:active {
    text-decoration:none;
    color: white;
}

.grid {
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
}


.info {
   animation: 1s ease-out 0s 1 slideFromTop;
    background: black;
    position: relative;
    z-index: 11;
    top: 0;
    width: 100%;
    height: 10vh;
    color:white;
    box-sizing: border-box;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8,1fr);
    border: 1px solid rgba(80, 76, 76, 0.32);
    padding: 20px;
}

.header {
    transition: top 0.3s;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}



.controllers {grid-column: 8;box-sizing: border-box;display:grid;grid-template-rows: 1fr;grid-column-gap: 10px;grid-template-columns: repeat(2,1fr);height: 100%;}

.controller {
    grid-column: auto;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 2vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
}

.controller div {
    position:relative;
    top: 2vh;
    font-size: 2.5vw;
}

.footnote {
  color:white;
  text-align: right;
  padding: 10px;
  font-size: 10px;
}
