
c {
  font-size: 50px;
}

#content_info {
  flex:1;
  position:relative;
  z-index: 0;
  top: 0;
  height: 95vh;
  background-image: url("../resources/images/bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.textContainer {
  display:flex;
  height: 100%;
  padding: 0;
}

.textBox {
  border-radius: 10px;
  color: white;
  text-align: left;
  padding: 0;
  border: 1px solid rgba(0,0,0,0);
  width: 65vw;
  height: 25vh;
  top: 45vh;
  left: 0;
  position: relative;
  padding: 40px;
  display: block;
}

@media only screen and (max-width: 600px) {
    #content_info {
      background: rgb(37, 36, 36);
      position: relative;
      z-index: 10;
      height: 100vh;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 10px;
      padding: 2em;
    }

    .textBox {
      top: 30vh;
    }

}
