@font-face { font-family: Drugs src: "website/resources/fonts/Drugs.otf"; }


html,body {
  background: rgb(37, 36, 36);
  width:100%;
  min-width: 100%;
  font-family: Drugs, sans-serif;
  margin: 0;
}

p,h3,li {
  font-family: 'Open Sans', sans-serif;
}

li {
  line-height: 1.5;
}

ul {
  display:block;
  list-style-type: disc !important;
}

.line {
  width: 200px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  float:none;
  background: #a9a5a5;
  border-radius: 100px;
  margin-top: auto;
}

.straight-line {
  width: 3px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  background: #a9a5a5;
  border-radius: 100px;
}

@media (min-aspect-ratio: 16/9) {
    #background {
      position: fixed;
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background {
      position: fixed;
        width:auto;
        height: 100%;
    }
}

a,a:hover,a:visited,a:link,a:active {
    text-decoration:none;
    color: white;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.grid {
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
}


.info {
   background: rgb(37, 36, 36);
   position: relative;
   z-index: 1000;
   top: 0;
   width: 100%;
   height: 100%;
   color:white;
   box-sizing: border-box;
   border: 1px solid rgba(80, 76, 76, 0.32);
   padding: 20px;
}

.header {
    top: 0;
    height: 100%;
    width: 100%;
    position: sticky;
    z-index: 1000;
    background:rgb(37, 36, 36);
    transition: all ease-out .5s;
}

.header:active {
  background: white;
}

.controllers {
    display:grid;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-template-columns: repeat(10,1fr);
    height: 100%;
  }

.controller {
    grid-column: auto;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 2vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
}

.controller div {
    position:relative;
    top: 2vh;
    font-size: 2.5vw;
}
